
html {
  font-family: 'Montserrat', sans-serif;

}

.card {
  text-align: center;
  height: 500px;
}

.headers {
  text-align: center;
}

#imgUrl {
  max-height: 340px;
  max-width: 250px;
  margin: auto;
}

/*
input#file {
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  z-index: -1;
}*/
/*
#imgUrl {
  height: 300px;
  width: 300px;
}
*/
/*#libraryContainer {
  margin-left: 80px;
  margin-right: 60px;
}*/



