
html {
  font-family: 'Montserrat', sans-serif;

}

/*
input#file {
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  z-index: -1;
}*/
/*
#imgUrl {
  height: 300px;
  width: 300px;
}
*/
/*#libraryContainer {
  margin-left: 80px;
  margin-right: 60px;
}*/



