<div class="valign-wrapper login-container">

  <div class="row container-fluid grid-example col s10 valign">
    <h2 class="center-align">login or register</h2>

    <div class="grid-example col s10 valign">
      email: <input type="text" autofocus="true" ng-model="account.email">
    </div>

    <div class="grid-example col s10 valign">
      password: <input type="password" ng-model="account.password">
    </div>

    <div class="grid-example col s10 valign">
      <a href="/library" title=""><button class="waves-effect waves-light btn-large" ng-click="register()">register</button></a>
      <a href="/library" title=""><button class="waves-effect waves-light btn-large" ng-click="login()">login</button></a>
      <button class="waves-effect waves-light btn-large" ng-click="logout()">logout</button>
    </div>

  </div>

</div>


