<h3>Enter a new note</h3>


<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="title" type="text">
        <label for="title">title</label>
      </div>
    </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <input id="type" type="text" class="validate">
    <label for="type">type</label>
  </div>
</div>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Textarea</label>
        </div>
      </div>
    </form>
  </div>

</form>






